In [1]:
import mysql.connector as sql

connection = sql.connect(host="localhost", user ="Aswin", password = "Aswin@123")

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000143D4DEDB20>

In [2]:
cursor = connection.cursor()
ursor.execute("CREATE DATABASE Aswint")

In [3]:
cursor.execute("SHOW DATABASES")

In [4]:
for i in cursor:
    print(i)

('aswint',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sakila',)
('sales',)
('student',)
('sys',)
('world',)

In [5]:
cursor.execute("DROP DATABASE Aswint")

In [7]:
cursor.execute("CREATE DATABASE Aswin")

In [8]:
cursor.execute("SHOW DATABASES")
for i in cursor:
    print(i)

('aswin',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sakila',)
('sales',)
('student',)
('sys',)
('world',)

In [9]:
cursor.execute("USE Aswin")

In [10]:
cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255) not null, subject VARCHAR(255) not null)")

### Insert Records in Table

In [13]:
query = "INSERT INTO studentinfo (name, subject) VALUES ('Aswin', 'DataScience')"
#value = ("John", "Stats")
cursor.execute(query)
print("Row inserted",cursor.lastrowid)

Row inserted 1

### Insert multiple records in Table

In [14]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [15]:
cursor.execute("Select * from studentinfo")

In [16]:
cursor.fetchall()

[(1, 'Aswin', 'DataScience'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [17]:
cursor.execute("Select * from studentinfo where name='Aswin'")

In [18]:
cursor.fetchall()

[(1, 'Aswin', 'DataScience')]

In [19]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('DataScience',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [20]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('DataScience',), ('Stats',), ('Maths',), ('Data Science',)]